/* Module code: CS5041 */
/* Module: Interactive Hardware and Software */
/* Matriculation numbers: 220024877, 180000870, 210000448 */
/* Configuring the MicroHelper for Disability Assistance */

html,
body {
  color: #444;
  font-family: "Helvetica", "Verdana", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

html {
  overflow: hidden;
}
